<!DOCTYPE html>
<html lang="en">
<footer>
    <script src="/js/jquery-3.4.1.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/chart.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/easing.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/waypoints.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/owl.carousel.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/moment.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/moment-timezone.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/tempusdominus-bootstrap-4.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/main.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="/js/rocket-loader.min.js" data-cf-settings="4bebc94b2db97a1f9680a39f-|49" defer=""></script>
</footer>
</html>