<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="/" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-school"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto" th:switch="${session.student.status}">
        <a href="#" class="nav-link" data-bs-toggle="dropdown">
            <i class="fa fa-tachometer-alt me-2"></i>
            <span class="d-none d-lg-inline-flex" th:case="0">Unregistered</span>
            <span class="d-none d-lg-inline-flex" th:case="1">Pending</span>
            <span class="d-none d-lg-inline-flex" th:case="2">Registered</span>
        </a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="/images/images.png" alt=""
                     style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex" th:text="${session.student.username}">John Doe</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="/logout" class="dropdown-item">Log Out</a>
            </div>
        </div>
    </div>
</nav>
</html>