<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Student System - Error</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <script src="https://kit.fontawesome.com/9b71f2962d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="/css/css2.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/skin.css">
</head>
<body>
<div class="position-relative d-flex p-0">
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-80 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <div class="mt-5 mb-5"><img src="/images/logo.png" height="80" alt="University of Manchester"/></div>
                <h1 class="display-1 fw-bold">404</h1>
                <h1 class="mb-4">Page Not Found</h1>
                <p class="mb-4">We are sorry, something bad happened!</p>
                <a class="mt-5 btn btn-purple rounded-pill py-3 px-5" href="javascript:history.back(-1)">Go Back</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>
</div>
</body>
</html>