<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Student System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="https://kit.fontawesome.com/9b71f2962d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="static/css/css2.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid bg-white d-flex p-0">
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <div class="mx-auto mt-3 mb-3">
                <a href="/index" class="navbar-brand ms-4 mb-5">
                    <img src="/images/logo.png" height="60" alt="University of Manchester">
                </a>
            </div>

            <div class="d-flex align-items-center ms-4 mt-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="/images/images.png" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3" th:switch="${session.student.status}">
                    <h6 class="mb-0" th:text = "${session.student.username}">Jhon Doe</h6>
                    <span th:case="0">Unregistered</span>
                    <span th:case="1">Pending</span>
                    <span th:case="2">Registered</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="/index" class="nav-item nav-link active"><i class="fa fa-calendar-days me-2"></i>Timetable</a>
                <a href="/index" class="nav-item nav-link"><i class="fa fa-graduation-cap me-2"></i>Optional Course</a>
                <a href="widget.html" class="nav-item nav-link"><i class="fa fa-newspaper me-2"></i>Newsletters</a>
                <a href="form.html" class="nav-item nav-link"><i class="fa fa-shield-halved me-2"></i>Permission</a>
                <a href="table.html" class="nav-item nav-link"><i class="fa fa-bell me-2"></i>Notification</a>
            </div>
        </nav>
    </div>


    <div class="content">

        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index1.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <div class="navbar-nav align-items-center ms-auto" th:switch="${session.student.status}">
                <a href="#" class="nav-link" data-bs-toggle="dropdown">
                    <i class="fa fa-tachometer-alt me-2"></i>
                    <span class="d-none d-lg-inline-flex" th:case="0">Unregistered</span>
                    <span class="d-none d-lg-inline-flex" th:case="1">Pending</span>
                    <span class="d-none d-lg-inline-flex" th:case="2">Registered</span>
                </a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="/images/images.png" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex" th:text = "${session.student.username}">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="/logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
</div>

<script src="/js/jquery-3.4.1.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/chart.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/easing.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/waypoints.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/owl.carousel.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/moment.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/moment-timezone.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/tempusdominus-bootstrap-4.min.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/main.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="/js/rocket-loader.min.js" data-cf-settings="4bebc94b2db97a1f9680a39f-|49" defer=""></script>
</div>
</body>