<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/header"></head>
<body>
<div class="container-fluid bg-white d-flex p-0">
    <div th:replace="layout/sidebar"></div>
    <div class="content">
        <div th:replace="layout/nvibar"></div>

        <!-- Page code starts here -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-user fa-3x text-primary"></i>
                        <div class="d-flex align-items-center">
                            <div class="position-relative">
                                <img class="rounded-circle" src="/images/images.png" alt="" style="width: 50px; height: 50px;">
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">Username</p>
                                <h5 class="mb-0" th:text="${session.student.username}">Jhon Doe</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-tachometer-alt fa-3x text-primary"></i>
                        <div class="ms-3" th:switch="${session.student.status}">
                            <p class="mb-2">Register Status</p>
                            <h5 class="mb-0" th:case="0">Unregistered</h5>
                            <h5 class="mb-0" th:case="1">Pending</h5>
                            <h5 class="mb-0" th:case="2">Registered</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-0"><a class="nav-item nav-link" href="/timetable"><i class="fa fa-calendar-days me-2"></i>Timetable</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-0"><a class="nav-item nav-link" href="/showAllCourse"><i class="fa fa-graduation-cap me-2"></i>Optional Course</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-0"><a class="nav-item nav-link" href=""><i class="fa fa-newspaper me-2"></i>Newsletters</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-0"><a class="nav-item nav-link" href=""><i class="fa fa-shield-halved me-2"></i>Permission</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-0"><a class="nav-item nav-link" href=""><i class="fa fa-bell me-2"></i>Notification</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of page code -->
    </div>
</div>
</body>
<footer th:replace="layout/footer"></footer>
</html>