<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/9b71f2962d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/skin.css">
    <title>Login</title>
</head>
<body>
  <section class="body-sign">
    <div class="center-sign">
      <div class="panel panel-sign">
        <div class="panel-title-sign text-end">
          <div class="row row-cols-auto float-start">
            <div class="col">
              <a href="/" class="">
                <img src="/images/logo.png" height="40" alt="University of Manchester">
              </a>
            </div>
            <div class="col text-start">
              <h5 style="font-size: 13px">University of Manchester
                <br/>
                <p style="color: #6B2C90; font-weight: bold; font-size: 18px">Student System</p>
              </h5>
            </div>
          </div>
          <h2 class="title text-uppercase text-bold m-0">
            <i class="fa fa-user mr-xs"></i>
            Sign In
          </h2>
        </div>
        <div class="panel-body">
            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Sign In Failed!</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <!--TODO: Add action.-->
          <form th:action="@{/}" method="post" th:object="${student}">
            <label>Login Token</label>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
              <input type="text" class="form-control" th:field="*{token}" oninput="value=value.replace(/[^\d]/g,'')" required>
            </div>
            <div class="row mb-3">
              <div class="col-sm-8">
              </div>
              <div class="col-sm-4 text-end">
                <button type="submit" class="btn btn-purple btn-sm">Sign In</button>
              </div>
            </div>
          </form>
            <span class="mt-3 mb-3 line-thru text-center text-uppercase">
                <span style="font-size: x-small">or</span>
            </span>
            <div>
                <p class="text-center" ><a class="btn btn-purple btn-sm" data-bs-toggle="collapse" aria-expanded="false" href="#UsernameLogin" style="text-decoration:none;">Login with Username and Password</a></p>
            </div>
            <div class="collapse" id="UsernameLogin">
                <form th:action="@{/}" method="post" th:object="${student}">
                    <label>Username</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input type="text" class="form-control" th:field="*{username}" required>
                    </div>
                    <label>Password</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input type="text" class="form-control" th:field="*{password}" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4 text-end">
                            <button type="submit" class="btn btn-purple btn-sm">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
      </div>
    </div>
  </section>
</body>
</html>