<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/header"></head>
<body>
<div class="container-fluid bg-white d-flex p-0">
    <div th:replace="layout/sidebar"></div>
    <div class="content">
        <div th:replace="layout/nvibar"></div>
        <!-- Page code starts here -->
        <!-- Status Judgement -->
        <div class="container-fluid pt-4 px-4" th:if="${session.student.status}ne'2'">
            <div class="col-sm-12 col-xl-6">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Oooops...</h4>
                    <p>This content is only available for those students who have finished their registration
                        process.</p>
                    <hr>
                    <p class="mb-0">Please come back when you registered!</p>
                </div>
            </div>
        </div>
        <!-- End of Status Judgement-->
        <div class="container-fluid pt-4 px-4" th:unless="${session.student.status}ne'2'">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="h-100 bg-light rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <i class="fa fa-list me-2"></i>
                            <h6 class="mb-0">Optional Course List</h6>
                            <a>     </a>
                        </div>
                        <form class="row">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Course ID</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">CheckBox</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="course:${courseList}">
                                    <td th:text="${course.courseid}">1</td>
                                    <td th:text="${course.cname}">John</td>
                                    <td><input class="form-check-input" type="checkbox" th:value="${course.courseid}" th:field="*{selList}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded p-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <i class="fa fa-plus me-2"></i>
                            <h6 class="mb-0">Selected Courses</h6>
                            <a></a>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Course ID</th>
                                <th scope="col">Course Name</th>
                                <th scope="col">Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="select:${selections}">
                                <td th:text="${select.courseid}">1</td>
                                <td th:text="${select.cname}">Example Name</td>
                                <td><a th:href="@{'/opt/'+${select.courseid}}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- End of page code -->
    </div>
</div>
</body>
<footer th:replace="layout/footer"></footer>
</html>