<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/header"></head>
<body>
<div class="container-fluid bg-white d-flex p-0">
    <div th:replace="layout/sidebar"></div>
    <div class="content">
        <div th:replace="layout/nvibar"></div>
        <!-- Page code starts here -->
        <!-- Status Judgement -->
        <div class="container-fluid pt-4 px-4" th:if="${session.student.status}ne'2'">
            <div class="col-sm-12 col-xl-6">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Oooops...</h4>
                    <p>This content is only available for those students who have finished their registration
                        process.</p>
                    <hr>
                    <p class="mb-0">Please come back when you registered!</p>
                </div>
            </div>
        </div>
        <!-- End of Status Judgement-->
        <div th:if="${session.student.status}eq'2'">
            <div class="container-fluid pt-4 px-4" th:if="*{#strings.length(message)>40}">
                <div class="col-sm-12 col-xl-6">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Great!</h4>
                        <p>You allow the student support office to add or remove courses from your course list.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4" th:if="*{#strings.length(message)<41}">
                <div class="col-sm-12 col-xl-6">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Oooops...</h4>
                        <p>SSO has no access for your course list.</p>
                    </div>
                </div>
            </div>
        </div>



        <!-- End of page code -->
    </div>
</div>
</body>
<footer th:replace="layout/footer"></footer>
</html>